<!DOCTYPE html>
<html>
  <head>
    <title>Lab4Assignment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p id="notice"><%= notice %></p>
    <%= yield %>

    <a href="/users/sign_up">Sign up</a>
    <a href="/users/sign_in">Sign in</a>
    <a href="/login">Log in</a>
    <a href="/log_out">Log out</a>

  </body>
</html>
